section {
    /* height:100%; */
    padding-top:50px;
    max-width:980px;
    margin:0 auto;
    box-sizing:border-box;
    position:relative;
    justify-content: center;
    align-items: center;
    display:none;
}

section video {
    display: block;
}

#calibrationDiv {
    padding-top:50px;
    max-width:980px;
    margin:0 auto;
    box-sizing:border-box;
    position:relative;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#calibrationDiv .item{
    flex: 0 0 32%;
    height: 200px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:1fr 2fr 1fr;
    grid-template-areas:'Pt1 Pt2 Pt3'
                        'Pt4 Pt5 Pt6'
                        'Pt7 Pt8 Pt9'
}

.item #Pt1{
    grid-area:Pt1;
}

.item #Pt2{
    grid-area:Pt2;
}

.item #Pt3{
    grid-area:Pt3;
}

.item #Pt4{
    grid-area:Pt4;
}

.item #Pt5{
    grid-area:Pt5;
}

.item #Pt6{
    grid-area:Pt6;
}

.item #Pt7{
    grid-area:Pt7;
}

.item #Pt8{
    grid-area:Pt8;
}

.item #Pt9{
    grid-area:Pt9;
}

#modal{
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
}

#modal ul li{
    font-size:16px;
    margin-top:18px;
}

#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
    background: rgba( 69, 139, 197, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 350px;
    height: 270px;
    position: relative;
    top: -100px;
    padding: 30px;
    text-align:center;
    margin-top:100px
}


#modal .title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: white;
    
}

#modal .title h2 {
    display: inline;
}

#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal .content {
    margin-top: 35px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal .btn-container{
    margin-top: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#modal .btn{
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-color: #ffffff;
    box-shadow: 1px 2px 0 rgb(0,0,0,0.5);
    font-weight: bold;
    font-size:18px;
    color:rgb(69, 68, 68);
    display:block;
}

/* #webgazerGazeDot {
    display: block;
} */

.video-inner{
    display:flex;
    width: 900px;
    height:650px;
    border-radius: 14px;
    background-color: var(--colorBg10);
    box-shadow: 4px 12px 30px 6px rgba(255, 98, 98, 0.09);
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.video-inner .video-alert{
    display:none;
    margin-top: 40px;
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
}