{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="sxyman">
        <meta name="description" content="navVar">
        <meta name="viewport" content="width=device-width, intial-scale=1, user-scalable=no,maxium-sclae=1,minimum-sclae=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta property="og:type" content="website">
        <meta property="og:title" content="github">
        <meta property="og:description" content="webgit">
        <meta property="twitter:card" content="website">
        <meta property="twitter:title" content="github">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">  
        <title>GTS</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <header>
            <div class="inner">
              <div class="menu-group">
                <div class="logo">
                  <a href="#">GTS</a>
                </div>
              </div>
              <ul class="main-menu toggle">
                <li><a href="">Train</a></li>
                <li><a href="">Analysis</a></li>
                <li><a href="">Info</a></li>
              </ul>
              <div class="sign-group toggle">
                <div class="btn-group">
                {% if user.is_anonymous %}
                  <a href="/accounts/signin/" class="btn sign-in">Sign in</a>
                  <a href="/accounts/signup/" class="btn btn--primary sign-up">Sign up</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="/accounts/logout/" class="btn log-out">Log out</a>
                {% endif %}
                </div>
              </div>
              <div id="toggle-btn">Header Menu Toggle Button</div>
            </div>
          </header>
          <div>
            {% block content %}
            {% endblock %}
          </div>
    </body>
    <script>
      (function(window,document){
        'use strict';
        
        const $toggles = document.querySelectorAll('.toggle');
        const $toggleBtn= document.getElementById('toggle-btn');
        $toggleBtn.addEventListener('click',function(){
          toggleElements();
        });
        
        window.addEventListener('resize',function(){
          if(window.innerWidth > 1024){
            offElements();
          }                       
        });
        
        function toggleElements(){
          [].forEach.call($toggles,function(toggle) {
            toggle.classList.toggle('on');
          });
        }
        function offElements(){
          [].forEach.call($toggles,function(toggle) {
            toggle.classList.remove('on');
          });
        }
      })(window,document)
    </script>
</html>