{% extends "webeye/base.html" %}

{% block content %}

<head>
    <title>강의 목록</title>
</head>
<body>
    <h1>강의 목록 페이지입니다</h1>
    <table>
        {% for key,values in lecturelist.items %}
        <div>{{key}}</div>
            {% for value in values %}
                <ul>
                    <img src= "https://i.imgur.com/8nLFCVPb.jpg" style="width:150px; height:150px;">
                    <li>{{value.title}}</li>
                    <li>{{value.teaches}}</li>
                    <li>{{value.course}}</li>
                    <a href="{% url 'lecture_mark_toggle' value.lid %}">
                        <button class="btn btn-success">찜하기</button>
                    </a>
                </ul>
            {% endfor %}
        {% endfor %}
        </table>
</body>
{% endblock %}