{% extends "webeye/base.html" %}
{% block content %}
{% load static %}

<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/lecture.css' %}">
    </head>
<body>
        <div class ="container">
            <div class="inner">
                <li>{{course}}</li>
                <table>
                    {% for lecture in lecturelist %}
                        <div class="item-card">
                            <li class= "card-wrapper">{{lecture.title}}</li>
                            <button class= "btn lecture-btn"  onclick="location.href='{{lecture.url}}'">
                                강의 맛보기
                            </button>
                            <a href="{% url 'to_video' lecture.lid %}" class="btn mypage">진짜진짜</a>
                        </div>
                    {% endfor %}
                </table>
            </div>
        </div>
</body>
</html>
{% endblock %}
