{% extends "webeye/base.html" %}

{% block content %}

{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/webgazer.js' %}"></script>
    <script>
        webgazer.setGazeListener(function(data, elapsedTime) {
            if (data == null) {
                return;
            }
            let xprediction = data.x; 
            let yprediction = data.y; 
            console.log(`x:${xprediction} y:${yprediction}`); 
        }).begin();
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
    <title>index page</title>
</head>
<body>
    <ul id="calibrationDiv">
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt1" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt2" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt3" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt4" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt5" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt6" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt7" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt8" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt9" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
    </ul>

    <section id="container">
            <video autoplay controls class="video_player" >
                <source src="http://WSTR.ebsi.co.kr/M45K2201/S20210001324/S20210001324_500K_100030017375.mp4" type="video/mp4">
            </video>
            <h1 id="app">{{ text }}</h1>
    </section>
</body>
    <script>
        let PointCalibrate = 0;
        let CalibrationPoints = {};

        const btnClick = (element) => {
            let id = element.id;
            if (!CalibrationPoints[id]) {
                CalibrationPoints[id] = 0;
            }
            CalibrationPoints[id]++;

            if(CalibrationPoints[id] == 5) {
                document.getElementById(id).src = '/static/img/check.png'
                document.getElementById(id).style.opacity = 1;
                document.getElementById(id).disabled = true;
                PointCalibrate++;
            } else if (CalibrationPoints[id] < 5) {
                let opacity = 1.0 -(CalibrationPoints[id] * 0.2);
                document.getElementById(id).style.opacity = opacity;
            }
            console.log(PointCalibrate)
            if(PointCalibrate === 9) {
                document.getElementById('calibrationDiv').style.display = 'none';
                document.getElementById('container').style.display = 'flex';
            }
        }

    </script>
    <script>
        let socket = new WebSocket('ws://localhost:8000/ws/some_url/');
        
        let video_player = document.querySelector('.video_player')
        video_player.addEventListener('play', e => {
            let video_src = video_player.currentSrc;
            socket.send(JSON.stringify({video_src}))
        })
        socket.onmessage = function(event){
            let data = JSON.parse(event.data);
            console.log(data);
            document.querySelector('#app').innerText = data.message;
        }
    </script>
</html>
{% endblock %}

