{% extends "webeye/base.html" %}

{% block content %}

{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/webgazer.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
    <title>index page</title>
</head>
<body>

    <ul id="calibrationDiv">
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt1" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt2" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt3" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt4" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt5" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt6" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt7" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt8" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
        <li class="item">
            <input type="image" src="/static/img/beforeCheck.png" id="Pt9" onclick="btnClick(this);" style="opacity: 1.0; width:50px">
        </li>
    </ul>
  
    <div id="modal" class="modal-overlay">
        <div class="modal-inner">
            <div class="modal-window">
                <div class="title">
                    <h2>강의전 집중력 향상</h2>
                </div>
                <!-- <a class="close-area" onclick="requestFullScreen()">X</a> -->
                <ul class="content">
                    <li>1. 각 타켓을 집중해서 응시해주세요</li>
                    <li>2. 빨간점이 가까워지면 클릭해주세요</li>
                    <li>3. 타켓을 각각 5번씩 맞추어주세요</li>
                    <li>4. 강의가 시작됩니다</li>
                </ul>
                <div class="btn-container">
                    <button class="btn" onclick="requestFullScreen()">학습 시작!</button>
                </div>
            </div>
        </div>
    </div>

    <section id="container">
        <div class = "video-inner">
            <div>
                <video id="video_player" controls class="video_player" width="800" height="500">
                    <source src={{ video_url }} type="video/mp4">
                </video>
                <h1 class="video-alert">강의에 집중해주세요!</h1>
                <audio class="audio-alert"><source src = "{% static 'img/alert.mp3' %}" type="audio/mp3"></audio>
            </div>
        </div>
    </section>
</body>


    <script>
        const modal = document.getElementById("modal");

        const modalClose = () => {
            modal.style.display = "none"
        }

        function requestFullScreen() {
            let element = document.querySelector("html");
            console.log(element)
            var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;

            if (requestMethod) { 
                requestMethod.call(element);
                modalClose();
            } else if (typeof window.ActiveXObject !== "undefined") {
                var wscript = new ActiveXObject("WScript.Shell");
                if (wscript !== null) {
                    wscript.SendKeys("{F11}");
                }
            }
        }

        let PointCalibrate = 0;
        let CalibrationPoints = {};

        const btnClick = (element) => {
            let id = element.id;
            if (!CalibrationPoints[id]) {
                CalibrationPoints[id] = 0;
            }
            CalibrationPoints[id]++;

            if(CalibrationPoints[id] == 5) {
                document.getElementById(id).src = '/static/img/check.png'
                document.getElementById(id).style.opacity = 1;
                document.getElementById(id).disabled = true;
                PointCalibrate++;
            } else if (CalibrationPoints[id] < 5) {
                let opacity = 1.0 -(CalibrationPoints[id] * 0.2);
                document.getElementById(id).style.opacity = opacity;
            }
            console.log(PointCalibrate)
            if(PointCalibrate === 9) {
                document.getElementById('calibrationDiv').style.display = 'none';
                document.getElementById('container').style.display = 'flex';

                const gazeDot = document.getElementById("webgazerGazeDot");
                gazeDot.style.setProperty("width","0px","important");
                gazeDot.style.setProperty("height","0px","important");
            }
        }
    </script>

    <script>
        var xprediction =0;
        var yprediction = 0;
        webgazer.setGazeListener(function(data, elapsedTime) {
            if (data == null) {
                return;
            }
            xprediction = data.x; 
            yprediction = data.y; 
            // console.log(`x:${xprediction} y:${yprediction}`); 
        }).begin();

        let socket = new WebSocket('wss://gazetrack.tk:8443/ws/');
        // let socket = new WebSocket('ws://localhost:8000/ws/')
        socket.onerror =function(event){
            console.log(event);
        }
        // let socket = new WebSocket('wss://'+window.location.hostname+':8443/ws/');
        // let socket = new WebSocket('wss://'+window.location.host+window.location.pathname+'ws/');
        // let socket = new WebSocket('ws://54.180.30.120:8001');
        let video_player = document.querySelector('.video_player');

        var obj = document.getElementById("video_player");
        let currentTime;

        obj.onloadedmetadata = function() {
            console.log(this.duration);
            console.log('currentTime:'+this.currentTime);
            currentTime = this.currentTime;
        }

        let video_src;
        let data;
        var send_data = {video_src, xprediction, yprediction, data, currentTime}
        
        video_player.addEventListener('play', e => {
            video_src = video_player.currentSrc;
            var start_video = new Date();
            var start_hours = start_video.getHours();
            var start_minute = start_video.getMinutes();
            var start_second = start_video.getSeconds();
            
            send_data['video_src'] = video_src;
            send_data['data'] = null;
            send_data['currentTime'] = null;
            socket.send(JSON.stringify(send_data));
        })
        
        const concentrateList = [];

        let concentratePercent = 0;

        let total = 0;

        let percent = 0;

        const reducer = (accumulator, curr) => accumulator + curr;

        const calPercent = (list) => {
            total = list.reduce(reducer);
            if(total == 0) {
                concentratePercent = 0;
            } else {
                concentratePercent = total / (concentrateList.length) * 100    
            }
            return concentratePercent;
        }
    

        socket.onmessage = function(event){
            data = JSON.parse(event.data).data;
            bool_concentrate = JSON.parse(event.data).bool_concentrate;
            if (!bool_concentrate){
                document.querySelector('.video-alert').style.display = 'block';
                concentrateList.push(0);
                percent = calPercent(concentrateList);
                console.log(percent)
                document.querySelector('.audio-alert').play();
                document.querySelector('.video-inner').style.background = '#ed5d5d'
            }
            else{
                document.querySelector('.video-alert').style.display = 'none';
                concentrateList.push(1);
                percent = calPercent(concentrateList);
                console.log(percent)
                document.querySelector('.video-inner').style.background = 'white'
            }
            
            var vision_data = {xprediction,yprediction,data};
            send_data['xprediction'] = xprediction;
            send_data['yprediction'] = yprediction;
            send_data['data'] = data;
            send_data['currentTime'] = obj.currentTime;
            console.log(send_data);
            socket.send(JSON.stringify(send_data));
        }
    </script>

</html>
{% endblock %}
