{% extends "webeye/base.html" %}

{% block content %}
{% block body %}
<div class="row">
    <div class="col-4">
        <img src= {% if user.profile.image %}"{{ user.profile.image.url }}"
             src= {% else %}"https://i.stack.imgur.com/34AD2.jpg"{% endif %}
            width="150rem" style="border-radius: 50%;" alt="">

    </div>
    <div class="col-8">
        <h2>
            <li>{{ user.username }}</li>
            찜한 강의들
            {% for scrap in scraps %}
            <ul>
                <li><div><a href="{% url 'lecture_list' scrap %}" >{{scrap}}</a></div></li>
            </ul>
            {% endfor %}
        </h2>
        <p>{{ user.profile.nickname }}</p>
        <p>{{ user.profile.description }}</p>
    </div>
</div>
{% endblock %}
{% endblock %}